NEXT_PUBLIC_SUPABASE_URL=https://ylllkjahsyeydhdgdjahdhdjajhdbdvpc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiIsInR5cCnlyYNseGhoeWJxdnBjIiwicm9sZSI6ImFub2nxnsbeyeudxjansndhxisjsenbfxjjssnnebccnfkdkjsjwebdhbcbc4iLCJpYXQiOjE3NzM4NDYyODcsImV4cCI6MjA4OTQyMjI4N30.1ZTfloYnmMNTDFz1SC9ERhzvxjla4oRf647LusBiE2Q
VITE_SUPABASE_URL=https://yrbfisrqtsqvpc.supabase.codnxnxbsjsjhrbchjxneexcncbfjchxbzn
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6jshbducj nenejxuchInlyYmZpc3JxdHNseGhoeWJxdnBjIiwicm9sZSI6IaksjdjcbbxjsskwoalskcnncmFub24iLCJpYXQiOjE3NzM4NDYyODcsImV4cCI6MjA4OTQyMjI4N30.1ZTfloYnmMNTDFz1SC9ERhzvxjla4oRf647LusBiE2Q
VITE_GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=
