NEXT_PUBLIC_SUPABASE_URL=https://yrbfisrqtslxhhybqvpc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyYmZpc3JxdHNseGhoeWJxdnBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDYyODcsImV4cCI6MjA4OTQyMjI4N30.1ZTfloYnmMNTDFz1SC9ERhzvxjla4oRf647LusBiE2Q
VITE_SUPABASE_URL=https://yrbfisrqtslxhhybqvpc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyYmZpc3JxdHNseGhoeWJxdnBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDYyODcsImV4cCI6MjA4OTQyMjI4N30.1ZTfloYnmMNTDFz1SC9ERhzvxjla4oRf647LusBiE2Q
VITE_GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=